@charset "UTF-8";
/* CSS Document */
h1 {
	font-weight: bold;
	line-height: 100%;
	color: #C5185E;
	margin: 15px 0px 10px 0px;
	}	
h2 {
	font-size: 20px;
	}
ul, li {
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
}
html, body{
    padding: 0;
    margin: 0;
    width: 100%;
}
body {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 150%;
}
/* html.stopScroll{
	overflow:hidden;
	height:100%;
}  */
body.stopScroll{
	overflow:hidden;
	height:100%;
} 
#container {
	padding: 0 2px;
	margin: 0 auto;
	position: relative;
	text-align: left;
	background-color: #FFF;
	}	
#header {
	max-width:956px;
	height: 144px;
	background-image: url(../images/total-hair-logo-banner.jpg);
	background-repeat: no-repeat;
	margin: 0 auto 8px;
	}	
#topNav {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	}	
#topNav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
	}	
#topNav li {
	display: inline-block;
	padding: 4px 16px;
	margin:0 0 8px;
	background: hsl(0,0%,0%);
	border-radius:5px;
	}
#topNav a {
	color: hsl(336, 78%, 100%);
	text-decoration: none;
	transition: color 0.2s linear 0s;
}	
#topNav a:hover {
	color: hsl(336, 78%, 43%);
}
#leftNav {
	margin: 0 auto;
	max-width:956px;
}
#leftNavWrapper{
	max-width:956px;
	margin:8px auto 0;
}
#container.fix-leftNav #leftNav{
	position:fixed;
	width:100%;
	z-index: 99;
	top: 0px;
	left: 50%;
	-webkit-transform: translate(-50%, 0px);
	        transform: translate(-50%, 0px);
}
body.stopScroll #leftNav{
	background-color:hsla(336, 78%, 0%,0.5);
	height:100%;
	height:100vh; 
	max-width: none;
}
#shopHeader {
	vertical-align:top;
	width: 200px;
	margin: 0 auto 8px;
	text-align: center;
	padding: 6px 0;
	background-color: hsl(336, 78%, 100%);
	border: 2px solid hsl(336, 78%, 43%);
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: hsl(0,0%,0%);
	cursor:pointer;
	transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear;
}
#shopHeader:hover{
	background-color: hsla(336, 78%, 43%, 1);
	color:hsl(0,0%,100%);
	border-color: hsl(336, 78%, 29%);
}	
#leftNav form{
	overflow:hidden;
	max-width: 742px;
	margin: 0 8px 16px;
	padding: 0 0 0 8px;
}	
#leftNav form .SearchWrapper{
	overflow:hidden;
	height:36px;
}	
#shopNav {
	margin: 0 0 8px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: hsl(336, 78%, 100%);
	border: 2px solid hsl(336, 78%, 43%);
	position:absolute; 
	left: 50%;
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
	border-radius: 5px;
	display:none;
	height:100%;
	max-height:484px;
	width:100%;
	max-width:525px;
	text-align:center;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
}	
#shopNav ul {
	list-style-type: none;
	margin: 0px;
	padding: 10px 15px;
	line-height: 125%;
}	
#shopNav li {
	padding: 3px 0;
	font-weight:bold;
	text-transform:uppercase;
	font-size:14px;
}
#shopNav ul ul{
	display:none;
	background:hsl(336, 78%, 100%);
	border-radius: 5px;
	border:2px solid hsl(336, 78%, 43%);
	border-top:none;
}
#shopNav .Header {
	font-size: 16px;
	padding: 8px;
	color: hsl(336, 78%, 0%);
	cursor:pointer;
	border-bottom: 1px solid hsl(336, 78%, 0%);
	border-radius:5px;
	transition: color 0.2s linear, border 0.2s linear;
	}
#shopNav .Header:hover{
	color:hsl(336, 78%, 43%);
	border: 2px solid hsl(336, 78%, 43%);
	border-top:none;
}
#shopNav .currentHeader{
	color:hsl(336, 78%, 43%);
	border: 2px solid hsl(336, 78%, 43%);
	border-top:none;
}	
#shopNav ul.catsNav {
	list-style-type: none;
	margin: 0px;
	padding: 1px 0px 1px 0px;
	line-height: 150%;
	}
#shopNav ul.innerNav {
	list-style-type: none;
	padding: 2px 15px 1px 10px;
	background-color: hsl(336, 78%, 100%);
	}
#shopNav ul.innerNav a{
	color:hsl(336, 78%, 0%);
}
#shopNav ul.innerNav a:hover{
	color:hsl(336, 78%, 43%);
}
#shopNav ul.innerNav li {
	border-bottom:none;
	}
#shopNav a {
	text-decoration: none;
	transition: color 0.2s linear, text-decoration 0.2s linear;
	color:hsl(336, 78%, 0%);
	}	
#shopNav a:hover, #shopNav ul ul .active  {
	color: hsl(336, 78%, 43%);
	text-decoration: underline;
}
#paypalLogo {
	width: 138px;
	margin: 0px 0px 10px 33px;
	border: 1px solid #CCC;
	}	
#container.fix-leftNav #leftNavOffset{
	position:relative;
	top:104px;
}	
#fancyNav{
	margin:0 auto;
	padding:0;
	position:relative;
	text-align:center;
	max-width:956px;
}
#fancyNav .tab{
	display:inline-block;
	width:13.5%;	
}
#fancyNav h2{
	position:relative;
	font-size:16px;
	padding:0;
	margin:0;
	border: 2px solid hsl(336,78%,43%);
    border-radius: 5px;
    cursor:pointer;
    transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear;
}
#fancyNav h2:hover, #fancyNav .current h2{
	background-color: hsl(336, 78%, 43%);
    color: hsl(0, 0%, 100%);
    border-color: hsl(336, 78%, 29%);
}
#fancyNav .menuArea{
	display:none;
	position:absolute;
	height:360px;
	top:26px;
	left:0;
	width:100%;
	opacity:0;
	border: 2px solid hsl(336,78%,43%);
    border-radius: 5px;
    transition: opacity 0.4s linear;
}	
#fancyNav .currentArea{
    opacity:1;
    z-index:1;
}
#fancyNav .show{
	display:block;
}
#fancyNav .column1, #fancyNav .column2{
	display:inline-block;
	height:360px;
	vertical-align:top;
	box-sizing:border-box;
	border-radius:5px;
}
#fancyNav .column1{
	width:20%;
	padding:16px;
	border-right: 2px solid hsl(336,73%,43%);
	position: relative;
}
#fancyNav h3{
	margin:0;
	font-size:20px;
}
#fancyNav .column1 ul{
	padding: 16px 0;
}
#fancyNav .column1 li{
	padding: 2px 0;
}
#fancyNav a{
    color:hsl(0,0%,0%);
	text-decoration:none;
	transition: color 0.2s linear, text-decoration 0.2s linear;
}
#fancyNav a:hover, #fancyNav .currentMenu{
	color: hsl(336, 78%, 43%);
    text-decoration: underline;
}
#fancyNav .column1 ul li div{
    display:none;
    z-index:1;
    opacity:0;
    position: absolute;
    left: 100%;
    top: 0px;
    background:hsl(0,0%,100%);
    border-radius: 5px;
    box-sizing: border-box;
    border-bottom: 2px solid hsl(336, 78%, 43%);
    border-top: none;
    width: 405%;
    max-height:100%;
    overflow:auto;
    transition: opacity 0.4s linear 0s;
}
#fancyNav .column1 .show{
	display:block;
}
#fancyNav .column1 .currentMenuMenu{
	opacity:1;
}
#fancyNav .column1 ul li div li{
    display:inline-block;
    min-width:10%;
}
#fancyNav .column2{
	width:80%;
	position:relative;
}
#fancyNav .column2 div{
    position:absolute;
    width:100%;
    height:100%;
    transition: background-color 0.2s linear;
}
#fancyNav .tint div{
    background-color: hsla(0, 0%, 0%, 0.5);
}
#fancyNav .frame{
    height: 360px;
}	
#mainArea {
	width: 100%;
	padding: 0;
	margin-bottom:28px;
	text-align:center;
}
#mainText {
	margin: 0 23px;
	}
#advertScroller{
	display:none;
}	
#mainText form{
	display:inline-block;
	vertical-align: top;
	width: 100%;
}
#results {
	/*width: 526px;*/
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	overflow: hidden;
	margin: 0 0 5px;
	padding: 5px 0 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CDCDCD;
	}
#results a {
	color: #C5185E;
	}
#results1 {
	width: 34%;
	text-align: left;
	float: left;
	}
#results2 {
	width: 33%;
	text-align: center;
	float: left;
	}
#results3 {
	width: 33%;
	text-align: right;
	float: left;
	}
#productListing {
	margin: 0;
	padding: 10px 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CDCDCD;
	}	
/* #productlistingImage {
	width: 125px;
	float: left;
	margin: 5px 0px 0px 0px;
	} */
#productlistingImage h3 {
	color: #666;
	font-size: 12px;
	font-weight: normal;
	margin: 5px 0px 0px 0px;
	}
#productlistingImage h3 a {
	color: #666;
	}
#productlistingText h1 {
	color: #C5185E;
	font-size: 16px;
	font-weight: bold;
	margin: 5px 0px 0px 0px;
	}
#productlistingText h2 {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	}
#productlistingText p {
	margin: 0px 0px 10px 0px;
	display:none;
	}
#productlistingText div{
	display:none;
	}
#productlistingText br{
	display:none;
	}
#productListing div:nth-child(3){
	display:none;
}
#bottomNav {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	}	
#bottomNav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
	}	
#bottomNav li {
	display: inline-block;
	padding: 4px 16px;
	margin:0 0 8px;
	background: hsl(0,0%,0%);
	border-radius:5px;
	}
/* #bottomNav li:nth-child(7){
	border-right: 1px solid hsl(0,0%,0%);
}	 */
#bottomNav a {
	color: hsl(336, 78%, 100%);
	text-decoration: none;
	transition: color 0.2s linear;
}	
#bottomNav a:hover {
	color: hsl(336, 78%, 43%);
}
#socialMedia{
	display:inline-block;
	text-align:center;
	width:100%;
	}
#facebook {
	display:inline-block;
	vertical-align:middle;
	}
#addSocial{
	display:inline-block;
	vertical-align:middle;
}
#bannerAds {
	padding: 6px 0;
	}
#bannerAds img{
	margin:0 auto;
	display:block;
}
#footer {
	width: 100%;
	background-color: #9C3;
	text-align: center;
	font-size: 12px;
	line-height: 200%;
	background-image: url(../images/footer-rep.jpg);
	background-repeat: repeat-x;
	color: #333;
	}	
#footer2 {
	width: 100%;
	background-color: #fff;
	float: left;
	text-align: center;
	font-size: 12px;
	color: #999;
	}	
#footer2 a {
	color: #999;
	}
 img, div, input { behavior: url("js/iepngfix.htc") }

#topSellersHeader {
	max-width:679px;
	height: 30px;
	background: hsl(0,0%,0%);
	padding: 10px 0px 0px 15px;
	margin:0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	line-height: 100%;
	font-weight: bold;
	color: #FFF;
	border-radius: 5px;
	}
	
.codeBox
{
	margin:0px 7px 0px 7px;
	padding:4px;
	height:18px;
	border:1px solid #000;
	width:70px;
	vertical-align:middle;
}

.codeText img, .codeText input[type="image"]{	
	vertical-align:middle; 
}
.codeText input[type="image"]{
    border-radius: 5px;
	background: hsla(336, 78%, 43%,0.9);
	color: hsl(0,0%,100%);
	font-size: 16px;
	font-weight: bold;
	padding: 6px 32px;
	white-space: nowrap;
}
.codeText input[type="image"]:hover{
	background: hsl(336, 78%, 43%);
}

.QtyBox
{
	margin:8px 7px;
	padding:4px 2px 4px 0px;
	height:18px;
	border:1px solid #000;
	width:25px;
	vertical-align:middle;
	text-align:center;
}

#SearchForm{
	border: 2px solid hsl(336,78%,43%);
	border-radius:5px;
}	
#SearchForm input[type="text"]{	
	border:0 none;
	width:100%;
	color:#999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	height:34px;
	text-indent:6px;
}
#SearchForm input[type="image"]{	
	float:right;
	padding:7px;
	background-color:hsl(336,78%,43%);
}

/*Break point*/
@media (min-width: 390px){
#mainText form{
	width:49%;
}
}
@media (min-width: 525px){
#shopHeader{
	float:left;
	margin: 0 0 8px 8px;
	padding: 6px 0 6px 8px;
	text-align:left;
}
#leftNav form .SearchWrapper {
	height:36px;
}
#SearchForm input[type="text"]{	
	height:34px;
}
#SearchForm input[type="image"]{
	padding:7px;
}
/* #shopNav{
	width:initial;
} */
/* #shopNav ul ul{
	position:absolute;
} */
#container.fix-leftNav #leftNavOffset{
	position:relative;
	top:56px;
}		
}
@media (min-width: 620px){
#socialBannerWrapper{
	margin: 0px auto;
    max-width: 956px;
}
#socialMedia{
	width:initial;
}
#bannerAds{
	float:right;
}
}
@media (min-width: 679px){
#advertScroller{
	display:block;
	height: 350px;
	width: 650px;
	overflow: hidden;
	border: 1px solid hsl(0, 0%, 80%);
	position: relative;
	margin: 0 auto 14px;
}
#nav {
    bottom: 14px;
    left: 50%;
    z-index: 2; 
    position: absolute;
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
}
#nav li {
    list-style: outside none none;
    background-color: hsl(0,0%,80%);
    display:inline-block;
    height:14px;
    width:14px;
    border-radius:50%;
    margin-left:14px;
    border:2px solid hsl(336,78%,43%);
    box-sizig:border-box;
    cursor:pointer;
	transition: background-color 0.4s linear 0s;
}
#nav li:hover, #nav .activeLI{
	background-color:hsl(336,78%,43%);
	
}
#slideshow{
	position: relative;
    height: 350px;
    overflow: hidden;
    width: 650px;
}
#slideshow img, #slideshow a{
    position: absolute;
    top: 0px;
    left: -650px;
    display: none;
    opacity: 1;
    width: 650px;
    height: 350px;
}
#slideshow img.active, #slideshow a.active{
    left:0;
    display:block;
}
#slideshow img.last-active{

}
}
@media (min-width: 740px){
#mainText form{
	width:32%;
}
}
@media (min-width: 1300px) and (min-height: 670px){
#leftNavWrapper{
	position:relative;
}
#shopNav{
	text-align:left;
	left:0;
	overflow:visible;
	max-height:none;
	width:initial;
	max-width:none;
	-webkit-transform:none;
	transform:none;
	height:initial;
}
#shopNav li.Header:hover{
	border-style:none none solid;
}
#shopNav li.currentHeader{
	border-style:none none solid;
}
#shopNav ul ul{
	position:absolute;
	width:66%;
	left:100%;
	top:-2px;
	border:2px solid hsl(336, 78%, 43%);
}
}
@media (min-width: 1044px){
#mainText form{
	width:24%;
}
#leftNav {

}
/* #shopHeader:hover + #shopNav{
    display:block;
}
#shopNav:hover{
	display:block;
}
 */
}